{
  "extends": [
    "eslint:recommended",
    "plugin:astro/recommended",
    "plugin:astro/jsx-a11y-recommended"
  ],
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {}
    },
    {
      "files": ["*.ts", "*.tsx", "*.mjs"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["solid"],
      "extends": [
        "plugin:solid/typescript",
        "plugin:@typescript-eslint/recommended"
      ]
    }
  ]
}
