---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Diff from '../components/Diff'
---

<Layout title="Zhlint Demo">
	<main>
		<Section>
			<div class="flex justify-between">
				<h1 class="tracking-wide text-lg">Zhlint Demo</h1>
				<a
					class="transition-colors hover:text-slate-500 dark:hover:text-slate-300"
					href="https://github.com/3fuyang/zh-lint-demo"
					target="_blank"
					rel="noreferrer"
				>
					GitHub
				</a>
			</div>
		</Section>
		<Section>
			This is a demo to test
			<a
				class="text-green-700 transition-colors hover:text-green-600 focus:text-green-600 hover:underline focus:underline"
				href="https://github.com/Jinjiang/zhlint"
				target="_blank"
				rel="noreferrer"
			>
				zhlint
			</a>.
		</Section>
		<Section>
			<!-- <DiffView /> -->
			<Diff client:idle />
		</Section>
	</main>
</Layout>
