---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import Diff from '../components/Diff'
import { SQLEditor } from '../components/SQLEditor'
---

<style is:global>
  details[open] .right-arrow {
    transform: rotate(90deg);
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>
<Layout title="Zhlint Demo">
  <main>
    <Section>
      <div class="flex justify-between">
        <h1 class="tracking-wide text-lg">Zhlint Demo</h1>
        <a
          class="transition-colors hover:text-slate-500 dark:hover:text-slate-300"
          href="https://github.com/3fuyang/zh-lint-demo"
          target="_blank"
          rel="noreferrer"
        >
          GitHub
        </a>
      </div>
    </Section>
    <Section>
      This is a demo to test
      <a
        class="text-green-700 transition-colors hover:text-green-600 focus:text-green-600 hover:underline focus:underline"
        href="https://github.com/Jinjiang/zhlint"
        target="_blank"
        rel="noreferrer"
      >
        zhlint
      </a>.
    </Section>
    <Section>
      <Diff client:idle />
    </Section>
    <Section>
      <SQLEditor client:idle />
    </Section>
  </main>
</Layout>
<script is:inline>
  // Polyfill
  const process = {
    env: {
      NODE_DEBUG: false,
    },
  }
  console.log(
    'Notice: A `process` polyfill is injected to make some third-party libraries work: ',
    process
  )
</script>
