---
---

<section class="sec">
  <div class="container">
    <slot />
  </div>
</section>
<style>
  .sec {
    padding: 2rem 1.5rem;
  }

  .container {
    max-width: 1344px;
    margin: auto;
  }
</style>
